= simple_form_for([@dns_zone.domain, @dns_zone]) do |f|
  - if @dns_zone.errors.any?
    #error_explanation
      %h2
        = pluralize(@dns_zone.errors.count, "error")
        prohibited this dns_zone from being saved:
      %ul
        - @dns_zone.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-4.columns
      .field
        = f.label :version
        %br
          = @dns_zone.version
    .large-4.columns
      .field
        %span.has-tip{"data-tooltip" => "", :title => " $ORIGIN must include the Top-Level domain name: example.com"}
          = f.label '$ORIGIN'
        = f.text_field :origin
    .large-4.columns
      .field
        = f.label 'TTL (seconds)'
        = f.number_field :ttl
  .field
    = f.label :admin_email
    %br
      = f.text_field :admin_email
  .field
    = f.label :description
    %br
      = f.text_area :description
  .actions
    = f.submit nil, :class => "button"
