= simple_form_for([@dns_zone.domain, @dns_zone]) do |f|
  - if @dns_zone.errors.any?
    = render 'layouts/error_explanation', resource: @dns_zone, name: 'dns zone'
  .row
    .large-8.columns
      .field
        %span.has-tip{"data-tooltip" => "", :title => " $ORIGIN must include the Top-Level domain name: example.com"}
          = f.label '$ORIGIN:'
        = f.text_field :origin, required: 'true'
    .large-4.columns
      .field
        = f.label 'TTL (seconds)'
        = f.number_field :ttl
  .field
    = f.label :admin_email
    %br
      = f.text_field :admin_email
  .field
    = f.label :description
    %br
      = f.text_area :description
  .actions
    = f.submit 'save', :class => "button"
