<%= form_for [@dns_zone.domain, @dns_zone, @resource_record = ResourceRecord.new] do |f| %>
  <% if @resource_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_record.errors.count, "error") %> prohibited this resource_record from being saved:</h2>

      <ul>
      <% @resource_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_type %><br>
    <%= select(:resource_record, :resource_type, ResourceRecord.available_resource_types.keys, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :option %><br>
    <%= f.number_field :option %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "red_button" %>
  </div>
<% end %>
