%h1
  Editing dns_zone
  = @dns_zone.origin
  %h3
    (version
    = succeed ')' do
      = @dns_zone.version
= render 'form'
- if @dns_zone.new_record?
  = link_to 'Cancel', domain_path(@dns_zone.domain)
- else
  = link_to 'Back', domain_dns_zone_path(@dns_zone.domain, @dns_zone)
