%h1 Listing dns_zones
%table
  %thead
    %tr
      %th Admin email
      %th Version
      %th Origin
      %th Ttl
      %th Description
      %th
      %th
      %th
  %tbody
    - @dns_zones.each do |dns_zone|
      %tr
        %td= dns_zone.admin_email
        %td= dns_zone.version
        %td= dns_zone.origin
        %td= dns_zone.ttl
        %td= dns_zone.description
        %td= link_to 'Show', domain_dns_zone_path(dns_zone.domain, dns_zone), :class => "red_button"
        %td= link_to 'Edit', edit_domain_dns_zone_path(dns_zone.domain, dns_zone), :class => "red_button"
        %td= link_to 'Destroy', domain_dns_zone_path(dns_zone.domain, dns_zone), method: :delete, data: { confirm: 'Are you sure?' }, :class => "red_button"
%br
  = link_to 'New Dns zone', new_domain_dns_zone_path, :class => "red_button"
