#dns_zone_section
  .row
    .large-12.columns
      %h3
        Domain: #{link_to "#{@dns_zone.domain.name}", domain_path(@dns_zone.domain)}
        %br
        DNS_ZONE for #{@dns_zone.origin}

  .row
    .large-8.columns
      .panel
        %code
          $ORIGIN #{@dns_zone.origin} ;
          %br
          $TTL #{@dns_zone.ttl} ;
          %br
          ; Admin email: #{@dns_zone.admin_email}
    .large-4.columns
      %ul.button-group{:style => "margin-top: 10px;"}
        %li
          = link_to edit_domain_dns_zone_path(@dns_zone.domain, @dns_zone) do
            %i{class: "fi-pencil"}
.row
  #soa_section
    %fieldset
      %legend Start of Authority (SOA)
      - unless @dns_zone.soa_section.new_record?
        .panel
          %code
            = "#{@dns_zone.soa_section.primary_domain_name} #{@dns_zone.soa_section.zone_class} SOA #{@dns_zone.soa_section.mname} #{@dns_zone.soa_section.rname} (#{@dns_zone.soa_section.serial_number} #{@dns_zone.soa_section.refresh} #{@dns_zone.soa_section.retry} #{@dns_zone.soa_section.expire} #{@dns_zone.soa_section.negative_caching}) ;"
        %p
          = link_to 'Edit', edit_domain_dns_zone_soa_section_path(@dns_zone.domain, @dns_zone, @dns_zone.soa_section)
          = precede ' | ' do
            = link_to 'Destroy', domain_dns_zone_soa_section_path(@dns_zone.domain, @dns_zone, @dns_zone.soa_section), method: :delete, data: { confirm: 'Are you sure?' }
      - else
        = render 'soa_sections/form'
  .rr_section
    %fieldset
      %legend
        Resource Records (RR)
      .rr_section_content
        - unless @dns_zone.resource_records.empty?
          .panel
            %code
              - Array(@dns_zone.resource_records).each do |rr|
                = rr.to_code_string
                %br
          %table
            %thead
              %tr
                %th Name
                %th
                %th Type
                %th Value
                %th Option
            %tbody
              - @dns_zone.resource_records.each do |rr|
                %tr
                  %td= rr.name
                  %td IN
                  %td
                    %span.has-tip{"data-tooltip" => "", :title => ResourceRecord.tooltips[rr.resource_type]}
                      = rr.resource_type
                  %td= rr.value
                  %td= rr.option
                  %td
                    %li= link_to "#{rr.rfc}", "#{rr.link_rfc}"
                    %li= link_to 'Details', domain_dns_zone_resource_record_path(@dns_zone.domain, @dns_zone, rr)
                    %li= link_to 'Destroy', domain_dns_zone_resource_record_path(@dns_zone.domain, @dns_zone, rr), method: :delete, data: { confirm: 'Are you sure?' }
      %fieldset
        %legend
          New Resource Record
          = precede ' - ' do
            = link_to 'Show more', '#', :id => 'hide_rr_section', 'data-no-turbolink' => true
        .rr_section_form
          = render 'rr_form'
%ul.button-group
  %li= link_to 'Back', domain_path(@dns_zone.domain)
