= simple_form_for [@dns_zone.domain, @dns_zone, @soa_section] do |f|
  - if @soa_section && @soa_section.errors.any?
    #error_explanation
      %h2
        = pluralize(@soa_section.errors.count, "error")
        prohibited this soa_section from being saved:
      %ul
        - @soa_section.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-6.columns
      .field
        = f.label :mname, 'MNAME'
        = f.text_field :mname
    .large-6.columns
      .soa_explain_panel
        .panel The master dns server for the zone
  .row
    .large-6.columns
      .field
        = f.label :rname, 'RNAME'
        = f.text_field :rname
    .large-6.columns
      .soa_explain_panel
        .panel An email address for someone responsible for the domain (with the @ replaced with a .)
  .row
    .soa_numbers
      .large-3.columns
        .field
          = f.label :refresh
          = f.number_field :refresh
      .large-3.columns
        .field
          = f.label :retry
          = f.number_field :retry
      .large-3.columns
        .field
          = f.label :expire
          = f.number_field :expire
      .large-3.columns
        .field
          = f.label :minimum
          = f.number_field :minimum
  .row
    .large-6.columns
      .actions
        = f.submit nil, :class => "button"
