<%= form_for [@soa_section.dns_zone.domain, @soa_section.dns_zone, @soa_section] do |f| %>

  <% if @soa_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soa_section.errors.count, "error") %> prohibited this soa_section from being saved:</h2>

      <ul>
      <% @soa_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :primary_domain_name %><br>
    <%= f.text_field :primary_domain_name %>
  </div>
  <div class="field">
    <%= f.label :mname %><br>
    <em>The master dns server for the zone (for example ns1.debiantest.com.)</em><br>
    <%= f.text_field :mname %>
  </div>
  <div class="field">
    <%= f.label :rname %><br>
    <em>An email address for someone responsible for the domain (with the @ replaced with a .) such as nospam.debiantest.com</em><br>
    <%= f.text_field :rname %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= @soa_section.serial_number %>
  </div>
  <div class="field">
    <%= f.label :refresh %><br>
    <%= f.number_field :refresh %>
  </div>
  <div class="field">
    <%= f.label :retry %><br>
    <%= f.number_field :retry %>
  </div>
  <div class="field">
    <%= f.label :expire %><br>
    <%= f.number_field :expire %>
  </div>
  <div class="field">
    <%= f.label :negative_caching %><br>
    <%= f.number_field :negative_caching %>
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "red_button" %>
  </div>
<% end %>
