%h1 Listing soa_sections
%table
  %thead
    %tr
      %th Primary domain name
      %th Zone class
      %th Mname
      %th Rname
      %th Serial number
      %th Refresh
      %th Retry
      %th Expire
      %th Negative caching
      %th
      %th
      %th
  %tbody
    - @soa_sections.each do |soa_section|
      %tr
        %td= soa_section.primary_domain_name
        %td= soa_section.zone_class
        %td= soa_section.mname
        %td= soa_section.rname
        %td= soa_section.serial_number
        %td= soa_section.refresh
        %td= soa_section.retry
        %td= soa_section.expire
        %td= soa_section.negative_caching
        %td= link_to 'Show', soa_section
        %td= link_to 'Edit', edit_soa_section_path(soa_section)
        %td= link_to 'Destroy', soa_section, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Soa section', new_soa_section_path, :class => "red_button"
