= simple_form_for(@domain) do |f|
  - if @domain.errors.any?
    = render 'layouts/error_explanation', resource: @domain, name: 'domain'
  .row
    .large-8.columns
      = f.label :name
      %br
        = f.text_field :name, placeholder: "...", required: true
  .row
    .large-8.columns
      = f.label :note
      %br
        = f.text_area :note, placeholder: "..."
  .row
    .large-8.columns
      .actions
        = f.submit nil, class: "button"
        = link_to 'Back', @domain, class: "button right"
