= simple_form_for(@domain) do |f|
  - if @domain.errors.any?
    #error_explanation
      %h2
        = pluralize(@domain.errors.count, "error")
        prohibited this domain from being saved:
      %ul
        - @domain.errors.full_messages.each do |msg|
          %li= msg
  .row
    .large-8.columns
      = f.label :name
      %br
        %span.has-tip{"data-tooltip" => "", :title => "Just the name of your domain"}
          = f.text_field :name, :placeholder => "http://example.com"
  .row
    .large-8.columns
      = f.label :note
      %br
        = f.text_area :note, :placeholder => "..."
  .row
    .large-4.columns
      .actions
        = f.submit nil, :class => "button"
    .large-4.columns
      = link_to 'Back', @domain, :class => "button", :style => "left"
