<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :name %><br>
      <span data-tooltip class="has-tip" title="Just the name of your domain" >
        <%= f.text_field :name, :placeholder => "http://example.com" %>
      </span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, :class => "button small" %>
  </div>
<% end %>
