%h1
  Your domains
%ul
  - @domains.each do |domain|
    %li
      = link_to "#{domain.name}", domain
      = precede ' | ' do
        %i{class: "fi-clock"}
          clock
        = link_to '(delete)', domain, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Domain', new_domain_path, { :class => "button" }
