%h1
  Your domains
%ul
  - @domains.each do |domain|
    %li
      = link_to "#{domain.name}", domain
      = precede ' | ' do
        = link_to domain, method: :delete, data: { confirm: 'Are you sure?' } do
          %i{class: "fi-trash"}
%br
  = link_to 'New Domain', new_domain_path, { :class => "button" }
