<h1>Listing domains</h1>

<% if @domains.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td class="button-group">
          <%= link_to 'Show', domain, :class => "red_button"   %>
          <%= link_to 'Edit', edit_domain_path(domain), :class => "red_button" %>
          <%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' }, :class => "red_button"   %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Domain', new_domain_path, { :class => "red_button" } %>
