
<div class="row">
  <div class="large-4 large-offset-4 columns">
    <h2><%= @domain.name %></h2>
  </div>
</div>

<p>
  <strong>Dns Zone (current):</strong>
  <% if @domain.current_dns_zone %>
  <%= link_to "#{@domain.dns_zone.origin}", domain_dns_zone_path(@domain,@domain.current_dns_zone)%> version <%= @domain.dns_zone.version %>
  <% else %>
  None selected
  <% end %>
</p>

<fieldset id="domain_dns_zones">

  <% if @domain.dns_zones.present? %>
  <div id="dns_zones">
    <table>
      <thead>
       <tr>
         <th>origin</th>
         <th>version</th>
         <th></th>
       </tr>
     </thead>

     <tbody>

       <% @domain.dns_zones.each do |dns_zone| %>
       <tr>
         <td><%= dns_zone.origin %></td>
         <td><%= dns_zone.version %></td>
         <td class="button-group"><%= link_to 'Show', domain_dns_zone_path(@domain, dns_zone), :class => "red_button"  %> <%= link_to 'Use', select_path(@domain, dns_zone), { :class => "red_button" } %> <%= link_to 'Destroy', domain_dns_zone_path(@domain, dns_zone), method: :delete, data: { confirm: 'Are you sure?' }, :class => "red_button"  %> <%= link_to 'Export', export_path(@domain, dns_zone.id), { :class => "red_button" } %> </td>
         </tr>
         <% end %>
       </tbody>
     </table>
   </div>
   <% end %>

   <div>
    <%= simple_form_for [@domain, DnsZone.new] do |f| %>
    <p>
      <%= f.label :origin, "New dns zone: $ORIGIN" %><br/>
      <%= f.text_field :origin %>
    </p>
    <p><%= f.submit "Add Dns Zone", :class => "red_button"  %></p>
    <% end %>
  </div>

</fieldset>

<ul class="button-group">
  <li><%= link_to 'Edit', edit_domain_path(@domain), :class => "red_button" %></li>
  <li><%= link_to 'Back', domains_path, :class => "red_button" %></li>
</ul>
