.row
  .large-4.large-offset-4.columns
    %h2= @domain.name
%p
  %strong Dns Zone (current):
  - if @domain.current_dns_zone
    = link_to "#{@domain.dns_zone.origin}", domain_dns_zone_path(@domain,@domain.current_dns_zone)
    version #{@domain.dns_zone.version}
  - else
    None selected
%fieldset#domain_dns_zones
  - if @domain.dns_zones.present?
    .dns_zones
      %table
        %thead
          %tr
            %th origin
            %th version
            %th
        %tbody
          - @domain.dns_zones.each do |dns_zone|
            %tr
              %td= dns_zone.origin
              %td= dns_zone.version
              %td
                = link_to 'Show', domain_dns_zone_path(@domain, dns_zone)
                = precede ' | ' do
                  = link_to 'Use', select_path(@domain, dns_zone)
                = precede ' | ' do
                  = link_to 'Destroy', domain_dns_zone_path(@domain, dns_zone), method: :delete, data: { confirm: 'Are you sure?' }
                = precede ' | ' do
                  = link_to 'Export', export_path(@domain, dns_zone)
  - else
    = @errors
    .new_dns_zone
      = render 'dns_zone_form'
.row
  = link_to 'Edit', edit_domain_path(@domain)
  = precede ' | ' do
    = link_to 'Back', domains_path
