%h1 Listing resource_records
%table
  %thead
    %tr
      %th Type
      %th Value
      %th Rfc
      %th Description
      %th
      %th
      %th
  %tbody
    - @resource_records.each do |resource_record|
      %tr
        %td= resource_record.resource_type
        %td= resource_record.value
        %td= resource_record.rfc
        %td= resource_record.description
        %td= link_to 'Show', resource_record
        %td= link_to 'Edit', edit_resource_record_path(resource_record)
        %td= link_to 'Destroy', resource_record, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Resource record', new_resource_record_path
