<p id="notice"><%= notice %></p>

<p>
  <strong>Resource Type:</strong>
  <%= @resource_record.resource_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resource_record.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @resource_record.value %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @resource_record.rfc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource_record.description %>
</p>

<p>
  <strong>Details:</strong>
  <p>
    <%= ResourceRecord.definitions.fetch(@resource_record.resource_type).first%>
  </p>
  <p>
    <%= ResourceRecord.definitions.fetch(@resource_record.resource_type)[1]%>
  </p>
</p>

<%= link_to 'Edit', edit_domain_dns_zone_resource_record_path(@resource_record.dns_zone.domain, @resource_record.dns_zone, @resource_record) %> |
<%= link_to 'Back', domain_dns_zone_path(@resource_record.dns_zone.domain, @resource_record.dns_zone) %>
