<h2>Sign in</h2>
<hr />
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :email, class: "right inline" %>
    </div>
    <div class="large-9 columns">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :password, class: "right inline" %>
    </div>
    <div class="large-9 columns">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :remember_me, class: "right inline" %>
    </div>
    <div class="large-9 columns">
      <%= f.check_box :remember_me %>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns large-offset-3">
      <%= f.submit "Sign in", :class => "red_button" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>