.top_bar_with_links
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          = link_to 'Dns Journal', home_index_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
      %ul.right
        %li.divider
        %li
          = link_to 'About', page_path('about')
        %li.divider
        %li.has-dropdown
          %a{:href => "#"}
            = current_user ? 'Menu' : 'SignIn/SignUp'
          %ul.dropdown
            - if user_signed_in?
              %li
                %label
                  = current_user.email
              %li
                = link_to 'Edit profile', edit_user_registration_path
              %li
                %label
                  Domains (#{current_user.domains.count})
              %li
                = link_to 'domains', domains_path
            - else
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                = link_to "Login", new_user_session_path, :class => 'navbar-link'
            %li
              %label Links
            %li
              = link_to 'RFCs', page_path('rfcs')
            %li.divider
            %li
              %label Other
            %li
              = link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :confirm => "Are you sure?" }
